@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  color:rgb(255, 255, 255);
  
}
body{
  width: 100vw;
  height: 100vh;
  background-color:  #010614 ;
  overflow-x: hidden;
}
h1,h2,h3,h4{
  cursor:default;
}
@media(max-width:1204px){
.infobar{
 
  width: 100%;
  flex-direction: column;
  height: 60%;
  
  
  gap:10%;
}
.t{
  height: 60%;
}
.a{
 width: 100%; 
 
}
.p{
  width: 100%;
}
.a1{
  margin-top: 5%;
}

}
@media(max-width:1024px){
.nav {
  gap: 0%;
  gap: 4%;
  
}
.edit{
  width: 80vw;
}
.navl{
  font-size: 3.5vmin;
}
.user{
width: 65vmin;
}
.total{
  height: 25%;
}
.login{
  width: 60%;
}
.eye{
  right: 30%;
}
}
@media(max-width:768px){
.infobar{
  height: 100%;
}
.t{
  height: 100%;
}
.login{
  width: 60%;
}
.eye{
  right: 25%;
}
.signup{
  width: 70%;
  margin-top: 5rem;
}
.tick{
  padding: 0;
}
}
@media(max-width:425px){
  
  .head{
    display: none;
  }
.infobar{
  height: 100%;
 
  gap: 5%;
  justify-content:flex-start;
}
.t{
  height: 100%;
}
.login{
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  align-items: center;
  background-color: #000000;
}
.eye{
  right: 9%;
}
.signup{
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.am{
  font-size: 2rem;
}
.b{
  font-size: 7vmin;
}
}
@media(max-width:375px){
.t{
  height: 41%;
}
.total{
  height: 20%;
}
.notes,.folders{
  gap: 0;

}
.nots,.fols{
  height: 5.5%;
}
.head{
  height: 8%;
}
.login{
  width: 100%;
}

}

