@tailwind base;
@tailwind components;
@tailwind utilities;
.gsap-marker-start{
  font-size: 2rem;
  color: orangered;
}
*{
  margin: 0;
  padding: 0;
  color:rgb(255, 255, 255);
  
  
}
body{
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
.box_b:hover{
  transition: all;
  animation-duration: 3ms;
  color: rgb(0, 255, 213);
  
}
@font-face {
  font-family: "PacificoCustom";
  src: url("./fonts/Pacifico.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsCustom";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "outfitCustom";
  src: url("./fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CaveatCustom";
  src: url("./fonts/Caveat.ttf") format("truetype");
}
@font-face {
  font-family: "DancingCustom";
  src: url("./fonts/Dancing.ttf") format("truetype");
}
@font-face {
  font-family: "GreatvibeCustom";
  src: url("./fonts/Great.ttf") format("truetype");
}

body{
  width: 100%;
  height: 100%;
  background-color:  #020202 ;
  overflow-x: hidden;
  
}
.f_back{
  background-size:cover;
  background-image: url("../src/images/new_back/8.jpeg");

}
.feature_back{
  background-size:cover;
  background-image: url("../src/images/new_back/6.jpg");
}
h1,h2,h3,h4{
  cursor:default;
}
/* .edit{
  /* transform: translateX(-550px); */
@media(max-width:1024px){
  
 .footer{
    padding: 0;
  }
  .foot_b{
    padding: 0;
  }
  .foot_2 h2{
    font-size: 4vmin;
  }
  .foot_2 a{
    font-size: 2.5vmin;
  }
  .foot_cont{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 0%;
  }
  footer{
    height: 120vh;
  

  }
  
  .con_2{
padding-top: 0;
  }
  .contact_sec{
    display: flex;
    flex-direction: column;
    height: 150vh;
  }
  .contact_b{
    width:100%;
    height: 100%;
  }
  .main_f button{
    border: 0.2rem solid cyan;
  }
 .heart{
   
  top: -28%;
  }
  .f_b{
    width: 100%;
    height: 90%;
  }
  .f5,.f6{
    display: none;
  }
  .devices_p{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 0;
     
  }
  
  .lap{
    padding-top: 1rem;
    width: 35vmin;
   
  }
  .tablet{
   width: 30vmin;
    height: 29vmin;
  }
  .comp{
    width: 30vmin;
    height: 30vmin;
  }
  .phone{
    width: 15vmin;
  }
  .main_f{
    gap: 0rem;
    justify-content:center;
    align-items: center;
  }
  .f_grid{
   padding: 1rem;
   grid-template-columns: repeat(2,1fr);
   height: 110%;
   gap: 0.5rem;
  }
  
  
  .devices_p{
    gap: 10%;
  }
  
  .d1{
    display: none;
  }
  .d2{
    display:block;
  }
  .devices_p{
    flex-wrap: wrap;
    gap: 0;
  }
  .f1{
    padding-top: 0vmin;
    display: grid;
    place-items: center;
    gap:2vmin;
  }
  .f1 .p{
    font-size: 3vmin;
    width:80%;
    
  }
  .f_back{
    height: 70vh;
  }
  .f1{
    height:70%;
  }
.f2{
  display:none;
}
  .infopanel{
    height: 25%;
  }

.t{
  height: 100%;
}
.login{
  width: 60%;
}

}
@media(max-width:768px){
  .footer{
    padding: 0;
  }
  .foot_b{
    padding: 0;
  }
  .foot_2 h2{
    font-size: 4vmin;
  }
  .foot_2 a{
    font-size: 2.5vmin;
  }
  .foot_cont{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 0%;
  }
  footer{
    height: 120vh;
  

  }
  
  .con_2{
padding-top: 0;
  }
  .contact_sec{
    display: flex;
    flex-direction: column;
    height: 150vh;
  }
  .contact_b{
    width:100%;
    height: 100%;
  }
  .main_f button{
    border: 0.2rem solid cyan;
  }
 .heart{
   
  top: -28%;
  }
  .f_b{
    width: 100%;
    height: 90%;
  }
  .f5,.f6{
    display: none;
  }
  .devices_p{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 0;
     
  }
  
  .lap{
    padding-top: 1rem;
    width: 35vmin;
   
  }
  .tablet{
   width: 30vmin;
    height: 29vmin;
  }
  .comp{
    width: 30vmin;
    height: 30vmin;
  }
  .phone{
    width: 15vmin;
  }
  .main_f{
    gap: 0rem;
    justify-content:center;
    align-items: center;
  }
  .f_grid{
   padding: 1rem;
   grid-template-columns: repeat(2,1fr);
   height: 110%;
   gap: 0.5rem;
  }
  
  
  .devices_p{
    gap: 10%;
  }
  
  .d1{
    display: none;
  }
  .d2{
    display:block;
  }
  .devices_p{
    flex-wrap: wrap;
    gap: 0;
  }
  .f1{
    padding-top: 0vmin;
    display: grid;
    place-items: center;
    gap:2vmin;
  }
  .f1 .p{
    font-size: 3vmin;
    width:80%;
    
  }
  .f_back{
    height: 70vh;
  }
  .f1{
    height:70%;
  }
.f2{
  display:none;
}
  .infopanel{
    height: 25%;
  }

.t{
  height: 100%;
}
.login{
  width: 60%;
}


}
@media(max-width:425px){
  .nav{
    gap:1em;
    padding-right: 1rem;
  }
  .copyright{
    font-size: 1.2rem;
  }
  .footer{
    height: 70vh;
  }
  footer h1{
    font-size: 30vmin;
  }
    .foot_2 h2{
    font-size: 4.5vmin;
  }
  .foot_2 a{
    font-size: 3.5vmin;
  }

  .contact_b{
    height: 50%;
  }
   
  .con_2 button{
font-size: 2.5vmin;
  }
   .contact_sec {
   
    height: 120vh;
  }
  .f_back{
    height: 50vh;
  }
   
  .feature_back{
    height: 150vh;
  }
    .f_grid{
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  height: 100%;
   gap: 1rem;
   padding: 0.7rem;
  }
  .f_b{
    width: 90%;
    height:23%;
  }

  .devices_p{
    height: 100%;
  }
  .lap{
    padding-top: 1rem;
    width: 45vmin;
   
  }
  .tablet{
   width: 45vmin;
    height: 45vmin;
  }
  .comp{
    width: 38vmin;
    height: 45vmin;
  }
  .phone{
    width: 23vmin;
  }
  .heart{
   
   width: 2.2rem;
   height: 2.2rem;
  }
  .heart img{
    size: 15vmin;
  }
    .infopanel{
    height: 20%;
    padding-left: 7%;
  }

  .signup{
    height: 90vh;
  }
  .tick{
    height: 6%;
  }
  .fols{
    height: 3.7%;
  }
  .nots{
    height: 4%;
  }
  .user1{
    font-size: 3vmin;
  }
  .head{
    display: none;
  }
  

.t{
  height: 50%;
}
.login{
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  align-items: center;
  background-color: #000000;
}

.signup{
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.am{
  font-size: 2rem;
}
.b{
  font-size: 7vmin;
}

}
@media(max-width:375px){
  .footer{
    height: 60vh;
  }
  .copyright{
    font-size: 1rem;
  }
  .contact_b{
    height: 50%;
  }
  .con_2{
    gap: 8%;
  }
  .con_2 button{
    font-size: 2.5vmin;
    padding: 0.7rem 1.5rem;
  }
  .contact_sec {
   
    height: 105vh;
  }
   .text_h{
    height: 15%;
  }
  .f_b{
    width: 90%;
    height: 23%;
   
  }
 
.main_d{
  height: 82vh;
}
    
    .f_back{
    height: 50vh;
 
  background-size: cover;
}
    .infopanel{
    height: 18%;
  }

  .nold{
    height: 3.5%;
  }
  .fold{
    height: 5%;
  }
  
  .user{
    height: 100vh;
  }
.t{
  height: 41%;
}
.total{
  height: 20%;
}
.notes,.folders{
  gap: 0;

}

.head{
  height: 8%;
}
.login{
  width: 100%;
}

}
@media(max-width:320px){
   .f_b{
    width: 90%;
    height:22%;
  }
  .feature_back{
    height: 110vh;
  }
  .contact_sec {
   
    height: 98vh;
  }
  .main_d{
  height: 75vh;
}
/* .infopanel{
    height: 17%;
  } */
}
