@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  color:rgb(255, 255, 255);
  
}
body{
  width: 100vw;
  height: 100vh;
  background-color:  #010614 ;
  overflow-x: hidden;
}
h1,h2,h3,h4{
  cursor:default;
}
/* .edit{
  /* transform: translateX(-550px); */
@media(max-width:1024px){
  .infobar{
 
  width: 100%;
  flex-direction: column;
  height: 60%;
  justify-content: flex-start;
  
  gap:10%;
}
.nav {
  gap: 0%;
  gap: 4%;
  
}
.edit{
  width: 80vw;
}
.navl{
  font-size: 3.5vmin;
}
.user{
width: 65vmin;
}
.total{
  height: 25%;
}
.login{
  width: 60%;
}

}
@media(max-width:768px){
  .infopanel{
    height: 25%;
  }
.infobar{
  padding-top: 10rem;
  height: 100%;
  gap: 20%;
}
.t{
  height: 100%;
}
.login{
  width: 60%;
}


}
@media(max-width:425px){
    .infopanel{
    height: 20%;
    padding-left: 7%;
  }
  .infobar{
  padding-top: 2rem;
  height: 100%;
  gap: 20%;
}
  .signup{
    height: 90vh;
  }
  .tick{
    height: 6%;
  }
  .fols{
    height: 3.7%;
  }
  .nots{
    height: 4%;
  }
  .user1{
    font-size: 3vmin;
  }
  .head{
    display: none;
  }
  

.t{
  height: 50%;
}
.login{
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  align-items: center;
  background-color: #000000;
}

.signup{
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.am{
  font-size: 2rem;
}
.b{
  font-size: 7vmin;
}

}
@media(max-width:375px){
    .infopanel{
    height: 18%;
  }
  .infobar{
    padding-top: 2rem;
 gap: 15%;
 
  justify-content:flex-start;
}
  .nold{
    height: 3.5%;
  }
  .fold{
    height: 5%;
  }
  
  .user{
    height: 100vh;
  }
.t{
  height: 41%;
}
.total{
  height: 20%;
}
.notes,.folders{
  gap: 0;

}

.head{
  height: 8%;
}
.login{
  width: 100%;
}

}
@media(max-width:320px){
/* .infopanel{
    height: 17%;
  } */
}
